################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Medly_Wm/AddSuplier.aspx.designer.cs
/Medly_Wm/AddSuplier.aspx.cs
/Medly_Wm/AddSuplier.aspx
